<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大米官网</title>
    <link rel="stylesheet" href="less/base.css">
    <link rel="stylesheet" href="less/index.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="icon" href="./favicon.ico">
</head>

<body>
    <!-- 头部topbar  -->
    <header id="header">
        <div class="topbar w clearfix">
            <ul>
                <li><a href="#">小米商城<i>|</i></a></li>
                <li><a href="#">MIUI<i>|</i></a></li>
                <li><a href="#">米聊<i>|</i></a></li>
                <li><a href="#">游戏<i>|</i></a></li>
                <li><a href="#">多看阅读<i>|</i></a></li>
                <li><a href="#">云服务<i>|</i></a></li>
                <li><a href="#">小米网移动版 <i>|</i></a></li>
                <li><a href="#">问题反馈<i>|</i></a></li>
                <li><a href="#">Select Region</a></li>
            </ul>
            <ul>
                <li><a href="#">登录<i>|</i></a></li>
                <li><a href="#">注册</a></li>
                <li class="li-shopcar">
                    <div class="shopcar">
                        <p>购物车中还没有商品,请赶快选购哦!</p>
                    </div>
                    <a href="#"><i class="iconfont icon-gouwuche"></i> 购物车(0)</a>
                </li>
            </ul>
        </div>
    </header>

    <!--nav  导航  -->
    <section id="nav" class="w clearfix">
        <a href="#" class="logo"></a>
        <a href="#"></a>
        <ul class="navbar clearfix">
        </ul>
        <div class="search">
            <span>红米pro</span>
            <span>小米笔记本air</span>
            <input type="text">
            <button class="ss"><i class="iconfont icon-sousuo"></i></button>
            <div class="search-slide">
                <ul>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p class="search-left">小米手机5</p>
                            <p class="search-right">约有11件</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </section>

    <!-- 下拉框  -->
    <section class="nav-slide">
    </section>

    <!-- 轮播图  -->
    <section id="slide" class="w">
        <div class="slide-left">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="sidebar">
        </div>
        <div class="slide-right">
            <ul class="slidepic">
            </ul>
            <div class="arrow-left">&lt;</div>
            <div class="arrow-right">&gt;</div>
        </div>
    </section>

    <!-- 广告部分  -->
    <section id="banner" class="w clearfix">
        <div class="banner-left">
            <ul class="clearfix">
                <li>
                    <a href="#">
                        <i class="iconfont icon-icon31"></i>
                        <p>选购手机</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-icon31"></i>                        
                        <p>选购手机</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-icon31"></i>
                        <p>选购手机</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-icon31"></i>
                        <p>选购手机</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-icon31"></i>
                        <p>选购手机</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-icon31"></i>
                        <p>选购手机</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="banner-right">
            <ul class="clearfix">
                <li><a href="#"><img src="images/homehero1.jpg" alt=""></a></li>
                <li><a href="#"><img src="images/homehero2.jpg" alt=""></a></li>
                <li><a href="#"><img src="images/homehero3.jpg" alt=""></a></li>
            </ul>
        </div>
    </section>

    <!-- 所有产品  -->
    <main id="shop">

        <!-- 智能硬件  -->
        <section id="hardware" class="w">
            <div class="hardware-top">
                <p>智能硬件</p>
                <p><a href="#">查看全区<i class="iconfont icon-you"></i></a></p>
            </div>
            <div class="hardware-content clearfix">
                <div class="hardware-content-left">
                    <a href="#"><img src="./images/hardware.jpg" alt=""></a>
                </div>
                <div class="hardware-content-right">
                    <ul class="clearfix">
                    </ul>
                </div>
            </div>
        </section>

        <!-- 周边  -->
        <section id="products" class="w clearfix">
        </section>

        <!-- 为你推荐  -->
        <section id="recommend" class="w">
            <div class="recommend-top clearfix">
                <p>为你推荐</p>
                <p><span class="recommend-left disabled">&lt;</span><span class="recommend-right">&gt;</span></p>
            </div>
            <div class="recommend-content">
                <ul class="clearfix">
                </ul>
            </div>
        </section>

        <!-- 热评产品  -->
        <section id="hotcomment" class="w">
        </section>

        <!-- 内容  -->
        <section id="content" class="w">
        </section>

        <!-- 视频  -->
        <section id="video" class="w">
        </section>

    </main>

    <!-- 底部  -->
    <footer id="footer">
        <p class="w">小米手机</p>
    </footer>
</body>



<!-- nav下拉框  -->
<script type="text/html" id="tempnav">
    {{each}}
    <li><a href="#" type="{{$value.type}}">{{$value.name}}</a></li>
    {{/each}}
</script>
<!-- 轮播图模板  -->
<script type="text/html" id="tempslide">
    {{each}}
    <li><a href="{{$value.sourceUrl}}"><img src="{{$value.imgUrl}}"></a></li>
    {{/each}}
</script>
<!-- 智能硬件模板  -->
<script type="text/html" id="temphardware">
    {{each list}}
    <li>
        <p class="{{$value.discountType}}">{{$value.discount}}</p>
        <img src="{{$value.imgUrl}}" alt="">
        <a href="{{$value.source}}">{{$value.title}}</a>
        <p>{{$value.desc}}</p>
        <p>{{$value.price}}元</p>
    </li>
    {{/each}}
</script>
<!-- 周边  搭配  配合 模板  -->
<script type="text/html" id="tempproduct">
    <div class="products-top">
        <p>{{topTitleName}}</p>
        <ul class="clearfix">
            {{each subs}}
            <li><a href="#" key="{{$value.key}}" topTitle="{{$value.topTitle}}">{{$value.name}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="products-content clearfix" title="{{topTitle}}">
        <ul>
            {{each leftGoods}}
            <li><a href="{{$value.sourceUrl}}"><img src="{{$value.imgUrl}}" alt=""></a></li>
            {{/each}}
        </ul>
        <ul class="clearfix">
            {{if hotgoods}} {{each hotgoods}} {{if hotgoods.length-1!=$index}}
            <li class="big">
                <img src="{{$value.imgUrl}}" alt="">
                <a href="{{$value.sourceUrl}}">{{$value.title}}</a>
                <p>{{$value.price}}元</p>
                <p>{{$value.heat}}人评论</p>
            </li>
            {{else}}
            <li class="small">
                <a href="{{$value.sourceUrl}}">
                    <div>
                        <p>{{$value.title}}</p>
                        <p>{{$value.price}}元</p>
                    </div>
                    <img src="{{$value.imgUrl}}" alt="">
                </a>
                <a href="#">
                    <div>
                        <p>浏览更多</p>
                        <p>热门</p>
                    </div>
                    <i class="iconfont icon-you"></i>
                </a>
            </li>
            {{/if}} {{/each}} {{else if hot}} {{each hot}} {{if hot.length-1!=$index}}
            <li class="big">
                <img src="{{$value.imgUrl}}" alt="">
                <a href="{{$value.sourceUrl}}">{{$value.title}}</a>
                <p>{{$value.price}}元</p>
                <p>{{$value.heat}}人评论</p>
            </li>
            {{else}}
            <li class="small">
                <a href="{{$value.sourceUrl}}">
                    <div>
                        <p>{{$value.title}}</p>
                        <p>{{$value.price}}元</p>
                    </div>
                    <img src="{{$value.imgUrl}}" alt="">
                </a>
                <a href="#">
                    <div>
                        <p>浏览更多</p>
                        <p>热门</p>
                    </div>
                    <i class="iconfont icon-you"></i>
                </a>
            </li>
            {{/if}} {{/each}} {{else if hotcloths}} {{each hotcloths}} {{if hotcloths.length-1!=$index}}
            <li class="big">
                <img src="{{$value.imgUrl}}" alt="">
                <a href="{{$value.sourceUrl}}">{{$value.title}}</a>
                <p>{{$value.price}}元</p>
                <p>{{$value.heat}}人评论</p>
            </li>
            {{else}}
            <li class="small">
                <a href="{{$value.sourceUrl}}">
                    <div>
                        <p>{{$value.title}}</p>
                        <p>{{$value.price}}元</p>
                    </div>
                    <img src="{{$value.imgUrl}}" alt="">
                </a>
                <a href="#">
                    <div>
                        <p>浏览更多</p>
                        <p>热门</p>
                    </div>
                    <i class="iconfont icon-you"></i>
                </a>
            </li>
            {{/if}} {{/each}} {{/if}}
        </ul>
    </div>
</script>
<!-- 周边  搭配  配合 切换 模板 -->
<script type="text/html" id="tempproduct2">
    <ul class="clearfix">
        {{each datas}} {{if datas.length-1!=$index}}
        <li class="big">
            <img src="{{$value.imgUrl}}" alt="">
            <a href="{{$value.sourceUrl}}">{{$value.title}}</a>
            <p>{{$value.price}}元</p>
            <p>{{$value.heat}}人评论</p>
        </li>
        {{else}}
        <li class="small">
            <a href="{{$value.sourceUrl}}">
                <div>
                    <p>{{$value.title}}</p>
                    <p>{{$value.price}}元</p>
                </div>
                <img src="{{$value.imgUrl}}" alt="">
            </a>
            <a href="#">
                <div>
                    <p>浏览更多</p>
                    <p>热门</p>
                </div>
                <i class="iconfont icon-you"></i>
            </a>
        </li>
        {{/if}} {{/each}}
    </ul>
</script>
<!-- 为你推荐模板  -->
<script type="text/html" id="temprecommend">
    {{each}}
    <li>
        <img src="{{$value.imgUrl}}" alt="">
        <a href="{{$value.sourceUrl}}">{{$value.name}}</a>
        <p>{{$value.price}}元</p>
        <p>{{$value.favorable}}人评论</p>
    </li>
    {{/each}}
</script>
<!-- 热门评论模板  -->
<script type="text/html" id="temphotcomment">
    <div class="hotcomment-top">
        <p>{{list[0].title}}</p>
    </div>
    <div class="hotcomment-content">
        <ul>
            {{each list}}
            <li>
                <a href="{{$value.sourceUrl}}">
                    <img src="{{$value.imageUrl}}" alt="">
                    <div class="comment">
                        <p>{{$value.review}}</p>
                    </div>
                    <p>来自{{$value.author}}的评价</p>
                    <p><span>{{$value.name}}</span><span>|</span><span>{{$value.price}}元</span></p>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</script>
<!-- 内容模板  -->
<script type="text/html" id="tempcontent">
    <div class="content-top">
        <p>{{title}}</p>
    </div>
    <div class="content-content">
        <ul class="clearfix">
            {{each contents}}
            <li class="{{$value.type}}">
                <span class="content-pre">&lt;</span>
                <span class="content-next">&gt;</span>
                <h5>{{$value.title}}</h5>
                <ul class="clearfix">
                    {{each $value.list}}
                    <li>
                        <a href="{{$value.sourceUrl}}">
                            <p>{{$value.title}}</p>
                            <p>{{$value.desc}}</p>
                            <p>{{$value.desc1}}</p>
                            <p>{{$value.desc2}}</p>
                            <p>{{$value.price}}</p>
                            <img src="{{$value.imgUrl}}" alt="">
                        </a>
                    </li>
                    {{/each}}
                </ul>
                <ul class="xyd">
                    {{each $value.list}}
                    <li></li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</script>
<!-- 视频模板  -->
<script type="text/html" id="tempvideo">
    <div class="video-top clearfix">
        <span>视频</span>
        <a href="#">查看全部<i class="iconfont icon-you"></i></a>
    </div>
    <div class="video-content">
        <ul>
            {{each}}
            <li>
                <!-- <video src="{{$value.videoUrl}}" autoplay></video> -->
                <img src="{{$value.imgUrl}}" alt="">
                <p>{{$value.videotitle}}</p>
                <p>{{$value.desc}}</p>
                <a href="{{$value.videoUrl}}"></a>
            </li>
            {{/each}}
        </ul>
    </div>
</script>

<script src="js/jquery-1.12.4.min.js"></script>
<script src="lib/template-web.js"></script>
<script src="js/index.js"></script>
<script src="js/ajax.js"></script>

</html>